@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.blog-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    margin-left: 17%;
    margin-right: 17%;
}

.blog-template h1 {
    margin-top: 2%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 76px;
    text-align: center;
    letter-spacing: -0.03em;
    background: linear-gradient(97.1deg, #C41740 4.8%, #EA9C28 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.blog-template p {
    margin-top: 1%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    color: #475467;
}